*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family:'Montserrat', sans-serif;
}
h1{
  font-size: 68px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 83px;
  color: #156963;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 12px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

}
h6{
  font-size: 16px;
  font-weight: 700;
  color: #156963;
  line-height: 24px;
}
.container{
  display: flex;
  margin: 20px;
}
.col-4{ 
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3{
  flex-basis: 25% ;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6{
  flex-basis: 16.6%;
  flex-grow: 0;
  flex-shrink:0 ;
}
.col-12{
  flex: 100% 0 0;
}
.col-1{
  flex: 8.3% 0 0;
}
.col-2{
  flex: 16.6% 0 0;
}
.col-5{
flex: 41.6% 0 0;
}
.col-6{
  flex: 50% 0 0;
}
.col-7{
  flex: 58.3% 0 0;
}
.col-8{
  flex: 66.6% 0 0;
}
.col-9{
  flex: 75% 0 0;
}
.col-10{
  flex: 83% 0 0;
}
.col-11{
 flex: 91.6% 0 0 ;
}
header{
  margin: 0 auto;
  margin: -20px;
  display: flex;
}
header img{
  width: 608px;
  height:  740px;
}
.header-text{
  margin: 90px;
}
.content img{
  width: 36px;
  height: 36px;
  margin-top: 6px;
}
.box img {
  width: 20px;
  height: 20px;
  margin-top: 17px;
}
.box{
  display: flex;
  margin-left:  auto;
}
.box .squeak{
  margin-right: 30px;
}
.navbar .two {
  margin-left: 30px;
}
.navbar ul{
  display: flex;
  list-style-type: none;
}
.navbar ul li a{
  text-decoration: none;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.content{
  display: flex;
  margin: 40px;
  margin-top: -695px;
  
}
.one{
  color: #156963;
  font-weight: 700;
}
.two{
  background-color: #156963;
  color: white;
  font-weight: 700;
  padding: 8px 20px;
}
.header-text{
  margin: 90px;
}
.header-text h1{
  margin-top: 90px;
}
.header-text{
  margin: 90px;
}
header p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 32px;
  margin-top: -10px;
}
.container{
  margin: 60px;
}
main{
  margin-top: 700px;
}
#example-1{
  display: flex;
  margin-left: -20px;
}
#example-1 article{
  flex: 0 0 23%;
  display: flex;
  border: 1px solid #E0E0E0;
  margin: 15px;
}
.example-card{
  margin: 15px;
}
.example-image img{
  margin-right: 15px;
  width: 48px;
  height: 48px;
  margin-top: 6px;
}
.example-image h6{
  margin-top: 10px;
}
.example-image{
  display: flex;
  width: 150px;
  height: 50px;
}
.example-text{
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 20px;
}
.example-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}
.example-image1{
  display: flex;
  width: 200;
  height:50px;
}
.example-image1 img{
  margin-right: 15px;
  width: 45px;
  height: 45px;
  margin-top: 6px;
}
.example-image1 h6{
  margin-top: 10px;
}
.section-text{
  display: flex;
}
.section-text2{
  margin-left: auto;
  display: flex;
  border: 1px solid #E0E0E0;
  width: 125px;
  height: 31px;
  margin-top: 63px;
}
.section-text2 p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: black;
  margin-top: 7px;
  margin-left: 7px;
}
.section-text2 img{
  width: 10px;
  height: 8px; 
  margin: 12px;
}
.section-text1 h5{
  margin-top: 68px;
  margin-bottom: -10px;
}
.line{
  border: 1px solid #E0E0E0;
  margin-top: 18px;
}
.row{
  display: flex;
}
.row img{
  width: 217px;
  height: 217px;
  
}
.card{
  margin: 10px;
  margin-top: 30px;
}
.card-text{
  text-align: center;
}
.card-text p{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}

.card-text h6{
  margin-top: -7px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  line-height: 19.5px;
}
.cartichka{
  margin-top: 40px;
  display: flex;
}
.section-card1 img{
  width: 620px;
  height: 270px;
  margin-top: 42px;
}
.section-card2 img{
  width: 513px;
  height: 680px;
}
.section-card1 p{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 32px;
}
.section-card1-text{
  margin: 30px;
  margin-right: 70px;
}
.section-card1-text h2{
  margin-top: 40px;
}
.section-card1-text p{
  color: rgb(104, 98, 98);
}
.section-text13{
  margin: 55px;
  margin-left: 90px;
}
.section-cartockka{
  display: flex;
  background: #F3F4F6;
  margin-top: 80px;
  width: 1205px;
  height: 330px;
}  
.section-imag {
  margin-right: 30px;

}
.section-imag img{
  width: 400px;
  height: 330px;
}
button{
  background-color: #156963;
  color: white;
  border: #156963;
  width: 152px;
  height: 40px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.line2{
  opacity: 0.3;
  border: 1px solid #156963;
  margin-top: 80px;
  margin-left: -60px;
  margin-right: -60px;
}
.row1{
  display: flex;
  margin: 130px;
  margin-top: 40px;
}
